.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
  font-size: 70px;
}

.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}

.blc {
  font-size: 70px;
}

.cd-words-wrapper b.is-visible {
  position: relative;
}

.cd-headline.clip span {
  display: inline-block;
  padding: .2em 0;
}

.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}

.cd-headline.clip b {
  opacity: 0;
}

.cd-headline b.is-visible {
  opacity: 1;
  font-weight: 900;
}

.btn.btn-primary.find-now-btn {
  background: linear-gradient( -20deg , #aa72fd, #007bff);
  border-style: none;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 600px) {
  .simple-slider {
    display: none;
  }
}

.banner-mob {
  padding-top: 75px;
}

.mob-baner-t1 {
  font-family: 'Jost';
  font-weight: 400;
  font-size: 18px;
}

.about-us-section {
  padding-top: 100px;
}

#section2 {
  padding-top: 50px;
}

.temp {
  margin-top: -120px;
}

#section3 {
  padding-top: 100px;
}

#section4 {
  padding-bottom: 30px;
  padding-top: 60px;
}

.fix-testimonials {
}

