.simple-slider .swiper-slide {
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width:767px) {
  .simple-slider .swiper-slide {
    height: 360px;
  }
}

.img-fluid.yes-factor-log {
  width: 400px;
}

.col.yes-logo {
}

.banner-t1 {
  font-family: 'Jost';
  font-size: 33px;
}

.banner-t11 {
  font-family: 'Jost';
  font-weight: 300;
  font-size: 20px;
}

@media (max-width: 990px) {
  .banner-t1 {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .banner-t11 {
    font-size: 16px;
  }
}

.caption.v-middle {
  padding-top: 200px;
}

